.landing {
    width: 100%;
    height: 550px;
    background: #014E56;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    &_container { display: flex; justify-content: space-between; height: 60%; }

    &_hero {
        width: 50%;
        & h1 {
            font-size: 6.25rem;
            font-weight: 800;
            & span { color: #F67E7E; }
        }
    }

    &_feature {
        width: 50%;
        padding-top: 30px;
        padding-left: 50px;
        & p {
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.7;
            max-width: 350px;
            transform: translateY(100px);
        }
    }

    &_pattern, &_patternleft { position: absolute; }

    &_pattern {
        left: -110px;
        top: 50%;
        transform: translateY(-50%);
    }

    &_patternleft {
        right: 20%;
        top: 85%;
    }
}

@media only screen and (max-width: 1200px) {
    .landing {
        &_container {
            display: block;
            text-align: center;
            height: 100%;
        }
        &_hero {
            padding: 50px 0;
            width: 100%;
            & h1 { font-size: 5rem; }
        }
        &_pattern { display: none; }
        &_feature {
            width: 100%;
            padding: 0;
            & p {
                max-width: 100%;
                transform: translateY(0);
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
    .landing {
        padding: 50px 0;
        &_hero {
            & h1 { font-size: 3rem; }
        }
        &_feature { padding-left: 0; height: auto; }
        &_patternleft { right: 10%; }
    }
}

@media only screen and (max-width: 400px) {
    .landing {
        &_hero {
            & h1 { font-size: 2rem; }
        }
        &_feature {
            padding-left: 0;
            & p { font-size: 1rem; }
        }
        &_patternleft { right: 0; }
    }
}