.form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    &_input {
        padding: 10px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;

        &::placeholder {
            color: #757575;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &_textarea { height: 80px; }

    &_button {
        width: 120px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        border: none;
        border-radius: 50px;
        color: #014E56;
        transition: all .5s;

        &:hover { background: #012F34; color: #fff; }
    }
}

@media only screen and (max-width: 1000px) {
    .form {
        padding-top: 0;
    }
}