.footer {
    height: 300px;
    background: #002529;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;

    &_container {
        height: 60%;
        display: flex;
        justify-content: space-between;
    }

    &_left, &_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_left {
        & ul { display: flex; }
        & li:first-child { margin-right: 30px; }
        & a { font-weight: 600; }
    }

    &_social {
        & img { margin-right: 20px; cursor: pointer; }
    }

    &_right {
        & p {
            font-weight: 600;
            color: #8BA8A9;
            text-align: right;
            line-height: 1.6;
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        height: 500px;
        text-align: center;
        &_container { display: block; }
        &_left {
            text-align: center;
            margin-bottom: 30px;
            & > img { width: 50%; margin: 0 auto 20px; }
            & ul {
                margin: 0 auto;
                margin-bottom: 20px;
                & a { font-size: 20px; }
            }
        }
        &_right {
            & p { text-align: center; }
        }
        &_location { margin-bottom: 20px; }
    }
}