@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Livvic", sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.divide_line {
    width: 50px;
    height: 4px;
    background: #79c8c7;
}

.divide_line.lightred {background: #F67E7E;}

@media only screen and (max-width: 1200px) {
    .divide_line { display: none; }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}